.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    color: aliceblue;
    height: 20px;
    width: 60px;
    margin: 20px;
}

.Button:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}